@-webkit-keyframes bounce-user {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  55% {
    transform: translate(-50%, -8px);
    animation-timing-function: ease-in;
  }
  81% {
    transform: translate(-50%, 2px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translate(-50%, -1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-arrow {
  0% {
    transform: translate(-50%, 0) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    transform: translate(-50%, 0) rotate(90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  55% {
    transform: translate(-50%, -8px) rotate(90deg);
    animation-timing-function: ease-in;
  }
  81% {
    transform: translate(-50%, 2px) rotate(90deg);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translate(-50%, 0) rotate(90deg);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translate(-50%, -1px) rotate(90deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, 0) rotate(90deg);
    animation-timing-function: ease-out;
  }
}
