

$indigo : #2b398e;
$mint : #70efd2;
$pink : #f751d7;
$purple : #8738ff;
$darkPurple : #2d234c;
$blue : #007fd0;

$bus-1 : #0766cb;
$bus-2 : #14b914;
$bus-3 : #f7941e;
$bus-4 : #2abcde;
$bus-5 : #cb00ce;
$bus-6 : #ed217c;
$bus-7 : #e3d014;
$bus-8 : #ff3c0e;
$bus-9 : #0E9070;
$bus-10 : #7B5ED6;
$bus-11 : #86A719;
$bus-12 : #538DDA;
$bus-13 : #DB3A34;
$bus-14 : #00CECB;
$bus-15 : #F86624;
$bus-16 : #FF6392;
$bus-17 : #70E000;
$bus-18 : #9C89B8;
$bus-19 : #5AA9E6;
$bus-20 : #A14A76;
$bus-21 : #c75210;
$bus-22 : #06d6a0;
$bus-23 : #ff172d;
$bus-24 : #f8c70e;
$bus-25 : #6e44ff;
$bus-26 : #0353a4;
$bus-27 : #f15156;
$bus-28 : #7c6a09;
$bus-29 : #ff7d00;
$bus-30 : #059100;
$bus-31 : #43bccd;
$bus-32 : #a14a76;
$bus-33 : #4f6d7a;
$bus-34 : #7ae582;
$bus-35 : #ad2831;
